@use "@/styles/abstracts/variables" as v;

.app-layout {
  min-height: 100vh;

  &__sider {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    flex: 1;
    border-right: none;
  }

  &__logout {
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    button {
      font-weight: 500;
    }
  }

  &__content {
    padding: 24px;
    background: v.$gray-200;
  }
}
