@use "@/styles/abstracts/variables" as v;

.landing {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: v.$gray-100;

  &__box {
    background: #fff;
    padding: 32px 40px;
    border-radius: v.$radius-lg;
    text-align: center;
    box-shadow: v.$shadow-lg;
    transition: v.$transition-base;
    min-width: 420px;

    &:hover {
      box-shadow: v.$shadow-hover-primary;
    }
  }

  &__actions {
    margin-top: 24px;
    transition: v.$transition-base;
  }
}
